
<div class="container">
  <div class="columns flex--center v-height">
      <main class=card--width>
          <section class="panel form__login">
              <header class="panel-header">
                  <div class="panel-title">
                      <h1 class="text-center title--signin">login to your account</h1>
                  </div>
              </header>
              <div class="panel-body text-center ">
                  <form action=""
                      #f="ngForm"
                      class="login__form"
                      novalidate [formGroup]="form" 
                      (ngSubmit)="onSubmit()">
                      <div class="form__content">
                          <mat-form-field class="form-group margin-auto">
                              <div class="relative">
                                  <input matInput
                                      formControlName="username" 
                                      placeholder="username"
                                      name="username"
                                      class="form-input" 
                                      type="text" required />
                                  <i class="form-icon mi mi-Contact icon--login"></i>
                              </div>
                              <div *ngIf="!form.controls['username'].valid && form.controls['username'].touched">
                                  <div class="login-form__invalid" *ngIf="form.controls['username'].hasError('required')">
                                      <p class="login-form__invalid-msg">
                                          champ obligatoire
                                      </p>                                       
                                  </div>
                                  <div class="login-form__invalid" *ngIf="form.controls['username'].hasError('minlength')">
                                      <p class="login-form__invalid-msg">
                                          le champ doit comporter au minimum 2 charact&egrave;res
                                      </p>                                       
                                  </div> 
                              </div>
                          </mat-form-field>
                          <mat-form-field  class="form-group margin-auto">
                              <div class="relative">
                                  <input formControlName="password"
                                      matInput
                                      name="password"
                                      placeholder="password"
                                      class="form-input" 
                                      type="password" required />
                                  <i class="form-icon mi mi-Lock icon--login"></i>
                              </div>
                              <div *ngIf="!form.controls['password'].valid && form.controls['password'].touched">
                                  <div class="login-form__invalid"  *ngIf="form.controls['username'].hasError('required')">
                                      <p class="login-form__invalid-msg">
                                          champ obligatoire
                                      </p>                                       
                                  </div>
                                  <div class="login-form__invalid" *ngIf="form.controls['password'].hasError('minlength')">
                                      <p class="login-form__invalid-msg">
                                          le champ doit comporter au minimum 1 charact&egrave;res
                                      </p>                                       
                                  </div>
                                  <div class="login-form__invalid" *ngIf="form.controls['password'].hasError('invalid')">
                                      <p class="login-form__invalid-msg">
                                          champ invalide
                                      </p>                                       
                                  </div>
                              </div>
                          </mat-form-field >
                      </div>
                      <div  class="form__submit">
                          <button id=submit 
                                  class=" btn btn-block btn--submit"
                                  [class.failed]="failed"
                                  [disabled]="!form.valid"
                                  type="submit">
                                  <span *ngIf='!failed; fail' > 
                                      log in 
                                      <i *ngIf='sending'  class="mi mi-Refresh mi-spin icon--submitting"></i>
                                  </span>
                                  <span *ngIf='failed;'>
                                      user or password unknown
                                      <i  class="mi mi-ErrorBadge12 icon--submitting"></i>
                                  </span>
                          </button> 
                      </div>    
                  </form>
              </div>
              <footer class="panel-footer no-margin">
                   <div class="login-form__link-wrap clearfix">
                      <a href="#" class="login-form__link pull-left">
                         forgot your password?
                      </a>
                      <a href="" class="login-form__link pull-right">
                          terms and condition
                      </a>
                  </div>
              </footer>
          </section>
      </main>
  </div>
</div>

